# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/


# IDEs/editors
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Test coverage
coverage/
htmlcov/
